<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">
  <title>用户注册-{$web_title}</title>
  <meta name="description" content="{$web_description}"/>
  <meta name="keywords" content="{$web_keywords}"/>
  <link href="//res.wx.qq.com/open/libs/weui/0.4.2/weui.css" rel="stylesheet">
  <link href="__PUBLIC__/css/common.css" rel="stylesheet">
  <load href="__PUBLIC__/js/jquery-1.11.3.min.js"/>
</head>
<body>
<div class="weui_msg">
  <div class="weui_icon_area"><i class="weui_icon_success weui_icon_msg"></i></div>
  <div class="weui_text_area">
    <h2 class="weui_msg_title">用户激活</h2>
      <!--<p class="weui_msg_desc">您的登录名为：<span class="red">{$user}</span> 验证信息已发送至注册邮箱为了确保您账户的安全，请验证邮箱并完成注册。</p>-->
      <p class="weui_msg_desc">您的登录名为：<span class="red">{$user}</span> 验证信息已发送至注册邮箱,如果超时间没收到,请点击下面的按钮重新发送。</p>
  </div>
  <div class="weui_opr_area">
    <p class="weui_btn_area">
      <button class="weui_btn weui_btn_default ajax-get" url="{:U('public/againmail?uid='.$uid)}">再次发送</button>
    </p>
  </div>
  <div class="weui_extra_area">
    Copyright &copy; 2016 {$web_title} {$web_url} 版权所有 {$web_icp}
  </div>
</div>

<load href="__PUBLIC__/Static/layer/layer.js" />
<load href="__PUBLIC__/js/ajax.js" />

</body>
</html>