<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">
  <title>{$web_title}</title>
  <meta name="description" content="{$web_description}"/>
  <meta name="keywords" content="{$web_keywords}"/>
  <load href="__PUBLIC__/css/weui.min.css"/>
  <link href="__PUBLIC__/css/common.css" rel="stylesheet">
  <load href="__PUBLIC__/js/jquery-1.11.3.min.js"/>
</head>
<body>
<include file="./Public/Static/tpl/banner.html"/>
<div class="weui_cells_title">
  <div class="weui_cell">
    <div class="weui_cell_bd weui_cell_primary">
      <p class="page_desc">请选择您的身份</p>
    </div>
  </div>
</div>
<div class="weui_cells weui_cells_access">
  <div class="weui_cell">
    <div class="weui_cell_bd weui_cell_primary">
        <a href="{:U('Team/index')}" class="weui_btn weui_btn_plain_primary">社团管理人</a>
    </div>
  </div>
  <div class="weui_cell">
    <div class="weui_cell_bd weui_cell_primary">
        <a href="{:U('Index/lists')}" class="weui_btn weui_btn_plain_primary">普通吃瓜群众</a>
    </div>
  </div>
</div>
<include file="./Public/Static/tpl/copyright.html"/>

<load href="__PUBLIC__/js/public.js"/>

</body>
</html>