<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
  <meta name="full-screen" content="yes">
  <meta name="x5-fullscreen" content="true">
  <title>{$title}{$web_title}</title>
  <meta name="description" content="{$web_description}"/>
  <meta name="keywords" content="{$web_keywords}"/>
  <load href="__PUBLIC__/css/weui.min.css"/>
  <link href="__PUBLIC__/css/common.css" rel="stylesheet">
  <link href="__PUBLIC__/Static/dropload/dropload.css" rel="stylesheet">
  <load href="__PUBLIC__/js/jquery-1.11.3.min.js"/>
  <load href="__PUBLIC__/Static/dropload/dropload.min.js"/>

</head>
<body ontouchstart>
<div class="container" id="container">
  <div class="tabbar">
    <div class="weui_tab">
      <div class="weui_tab_bd">
        <div class="weui_cells weui_cells_access content">
          <div class="weui_panel_bd lists">
            <volist name="list" id="vo" empty="暂时没有数据">
              <div class="weui_media_box weui_media_text">
                <h4 class="weui_media_title">{$vo.name} ({$vo.stuid}) {$vo.time|date="y-m-d H:m",###}</h4>
                <p class="weui_media_desc">电话:{$vo.phone} {$vo.deptname}-{$vo.majorname}<br/> {$vo.interest}</p>
              </div>
            </volist>
          </div>
        </div>
      </div>
      <div class="weui_tabbar">
        <include file="./Public/Static/tpl/tabbar.html"/>
      </div>
    </div>
  </div>
</div>
<load href="__PUBLIC__/js/public.js"/>
<script>

  function timestampFormat(time){
    var date = new Date(time*1000);
    Y = date.getYear()-100;
    M = ("0"+(date.getMonth()+1)).slice(-2);
    D = ("0"+date.getDate()).slice(-2);
    h = ("0"+date.getHours()).slice(-2);
    m = ("0"+date.getMinutes()).slice(-2);
    s = date.getSeconds();
    return Y+'-'+M+'-'+D+' '+h+':'+m+'';
  }
  $(function () {
    var page = 2;
    $('.content').dropload({
      scrollArea: window,
      autoLoad: false,
      loadDownFn: function (me) {
        var sendData = {page: page};
        $.ajax({
          type: 'GET',
          url: '',
          data: sendData,
          dataType: 'json',
          success: function (data) {
            var result = '';
            if (data.code == 200) {
              page++;
              var lists = data.data;
              console.log(lists);
              for (var i = 0; i < lists.length; i++) {
                result += '<div class="weui_media_box weui_media_text">' +
                    '<h4 class="weui_media_title">' + lists[i].name + ' (' + lists[i].stuid + ') ' + dateFactory('YY-MM-DD hh:mm',lists[i].time*1000) + '</h4>'
                    + '<p class="weui_media_desc">电话:' + lists[i].phone + ' ' + lists[i].deptname + '-' + lists[i].majorname + '<br/> ' + lists[i].interest + '</p>'
                    + '</div>';
              }
            } else {
              // 锁定
              me.lock();
              // 无数据
              me.noData();
              //              break;
            }
            // 为了测试，延迟1秒加载
            setTimeout(function () {
              $('.lists').append(result);
              // 每次数据加载完，必须重置
              me.resetload();
            }, 1000);
          },
          error: function (xhr, type) {
            alert('Ajax error!');
            // 即使加载出错，也得重置
            me.resetload();
          }
        });
      }
    });
  });
</script>
</body>
</html>