<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{$team.name} {$web_title}</title>
  <meta name="description" content="{$web_description}"/>
  <meta name="keywords" content="{$web_keywords}"/>
  <link href="//res.wx.qq.com/open/libs/weui/0.4.2/weui.css" rel="stylesheet">
  <link href="__PUBLIC__/css/common.css" rel="stylesheet">
  <script src="//cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>
<div class="hd">
  <a href="{:U('Team/index')}"><h1 class="page_title">TR-System</h1></a>
  <p class="page_desc">更好的社团招新系统</p>
</div>
<div class="weui_panel weui_panel_access">
  <div class="weui_panel_hd">文字组合列表</div>
  <div class="weui_panel_bd">
    <div class="weui_media_box weui_media_text">
      <h4 class="weui_media_title">标题一</h4>
      <p class="weui_media_desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
    </div>
    <div class="weui_media_box weui_media_text">
      <h4 class="weui_media_title">标题二</h4>
      <p class="weui_media_desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
    </div>
  </div>
  <a href="javascript:void(0);" class="weui_panel_ft">查看更多</a>
</div>

<load href="__PUBLIC__/js/public.js"/>
</body>
</html>