<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">
  <title>{$team.name} {$web_title}</title>
  <meta name="description" content="{$web_description}"/>
  <meta name="keywords" content="{$web_keywords}"/>
  <link href="//res.wx.qq.com/open/libs/weui/0.4.2/weui.css" rel="stylesheet">
  <link href="__PUBLIC__/css/common.css" rel="stylesheet">
  <script src="//cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>
<div class="container" id="container">
  <div class="home">
    <div class="hd">
      <h1 class="page_title">TR-System</h1>
      <p class="page_desc">更好的社团招新系统</p>
    </div>
    <div class="bd">
      <div class="weui_grids">
        <a href="{:U('Team/setting')}" class="weui_grid">
          <div class="weui_grid_icon">
            <i class="icon icon_panel"></i>
          </div>
          <p class="weui_grid_label">
            设置
          </p>
        </a>
        <a href="{:U('Team/applyList')}" class="weui_grid">
          <div class="weui_grid_icon">
            <i class="icon icon_cell"></i>
          </div>
          <p class="weui_grid_label">
            申请列表
          </p>
        </a>
        <a href="{:U('Team/myQR')}" class="weui_grid">
          <div class="weui_grid_icon">
            <i class="icon icon_button"></i>
          </div>
          <p class="weui_grid_label">
            招新扫码
          </p>
        </a>
        <a href="{:U('Team/info')}" class="weui_grid">
          <div class="weui_grid_icon">
            <i class="icon icon_toast"></i>
          </div>
          <p class="weui_grid_label">
            社团信息
          </p>
        </a>
        <a href="mailto:york_mail@qq.com" class="weui_grid">
          <div class="weui_grid_icon">
            <i class="icon icon_dialog"></i>
          </div>
          <p class="weui_grid_label">
            系统反馈
          </p>
        </a>
        <a href="{:U('Public/logout')}" class="weui_grid">
          <div class="weui_grid_icon">
            <i class="icon icon_tab"></i>
          </div>
          <p class="weui_grid_label">
            退出系统
          </p>
        </a>
        <a href="#/progress" class="weui_grid">
          <div class="weui_grid_icon">
            <i class="icon icon_progress"></i>
          </div>
          <p class="weui_grid_label">
            请
          </p>
        </a>
        <a href="#/msg" class="weui_grid">
          <div class="weui_grid_icon">
            <i class="icon icon_msg"></i>
          </div>
          <p class="weui_grid_label">
            竖
          </p>
        </a>
        <a href="#/article" class="weui_grid">
          <div class="weui_grid_icon">
            <i class="icon icon_article"></i>
          </div>
          <p class="weui_grid_label">
            起
          </p>
        </a>
        <a href="#/actionsheet" class="weui_grid">
          <div class="weui_grid_icon">
            <i class="icon icon_actionSheet"></i>
          </div>
          <p class="weui_grid_label">
            大
          </p>
        </a>
        <a href="#/icons" class="weui_grid">
          <div class="weui_grid_icon">
            <i class="icon icon_icons"></i>
          </div>
          <p class="weui_grid_label">
            拇
          </p>
        </a>
        <a href="#/searchbar" class="weui_grid">
          <div class="weui_grid_icon">
            <i class="icon icon_search_bar"></i>
          </div>
          <p class="weui_grid_label">
            指
          </p>
        </a>
      </div>
    </div>
  </div>
</div>

<load href="__PUBLIC__/js/public.js"/>
</body>
</html>