<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">
  <title>社团二维码 {$web_title}</title>
  <meta name="description" content="{$web_description}"/>
  <meta name="keywords" content="{$web_keywords}"/>
  <load href="__PUBLIC__/css/weui.min.css"/>
  <link href="__PUBLIC__/css/common.css" rel="stylesheet">
  <load href="__PUBLIC__/js/jquery-1.11.3.min.js"/>
</head>
<body>
<div class="weui_tab">
  <div class="weui_tab_bd">
    <include file="./Public/Static/tpl/banner.html"/>
    <div class="weui_cells_title">
      <p class="page_desc">扫描加入{$team.name}</p>
    </div>
    <article class="weui_article">
      <p style="text-align: center;">
        <img src="http://api.fantwo.com/png/qrcode.png?size=10&level=Q&data={$web_url}{:U('Apply/intro','t='.$tid)}" alt="">
      </p>
    </article>
  </div>
  <div class="weui_tabbar">
    <include file="./Public/Static/tpl/tabbar.html"/>
  </div>
</div>

<load href="__PUBLIC__/js/public.js"/>

</body>
</html>