<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">
  <title>设置-{$web_title}</title>
  <meta name="description" content="{$web_description}"/>
  <meta name="keywords" content="{$web_keywords}"/>
  <load href="__PUBLIC__/css/weui.min.css"/>
  <link href="__PUBLIC__/css/common.css" rel="stylesheet">
  <load href="__PUBLIC__/js/jquery-1.11.3.min.js"/>
</head>
<body>
<div class="weui_tab">
  <div class="weui_tab_bd">
    <include file="./Public/Static/tpl/banner.html"/>
    <div class="weui_cells_title">基本设置</div>
    <div class="weui_cells weui_cells_form">
      <div class="weui_cell weui_cell_switch">
        <div class="weui_cell_hd weui_cell_primary">邮件通知</div>
        <div class="weui_cell_ft">
          <if condition="$team.notice eq 1">
            <input class="weui_switch ajax-get" type="checkbox" name="notice" checked url="{:U('Team/setting',array('switch'=>'notice'))}" />
            <else />
            <input class="weui_switch ajax-get" type="checkbox" name="notice" url="{:U('Team/setting',array('switch'=>'notice'))}" />
          </if>
        </div>
      </div>
    </div>
    <div class="weui_cells_title">申请表选项</div>
    <div class="weui_cells weui_cells_form">
      <div class="weui_cell weui_cell_switch">
        <div class="weui_cell_hd weui_cell_primary">学号</div>
        <div class="weui_cell_ft">
          <if condition="$applyop.stuId eq 1">
            <input class="weui_switch ajax-get" type="checkbox" name="stuId" checked url="{:U('Team/setting',array('apply'=>'stuId'))}" />
            <else />
            <input class="weui_switch ajax-get" type="checkbox" name="stuId" url="{:U('Team/setting',array('apply'=>'stuId'))}" />
          </if>
        </div>
      </div>
      <div class="weui_cell weui_cell_switch">
        <div class="weui_cell_hd weui_cell_primary">民族</div>
        <div class="weui_cell_ft">
          <if condition="$applyop.nation eq 1">
            <input class="weui_switch ajax-get" type="checkbox" name="nation" checked url="{:U('Team/setting',array('apply'=>'nation'))}" />
            <else />
            <input class="weui_switch ajax-get" type="checkbox" name="nation" url="{:U('Team/setting',array('apply'=>'nation'))}" />
          </if>
        </div>
      </div>
      <div class="weui_cell weui_cell_switch">
        <div class="weui_cell_hd weui_cell_primary">籍贯</div>
        <div class="weui_cell_ft">
          <if condition="$applyop.origin eq 1">
            <input class="weui_switch ajax-get" type="checkbox" name="origin" checked url="{:U('Team/setting',array('apply'=>'origin'))}" />
            <else />
            <input class="weui_switch ajax-get" type="checkbox" name="origin" url="{:U('Team/setting',array('apply'=>'origin'))}" />
          </if>
        </div>
      </div>
      <div class="weui_cell weui_cell_switch">
        <div class="weui_cell_hd weui_cell_primary">照片</div>
        <div class="weui_cell_ft">
          <if condition="$applyop.pic eq 1">
            <input class="weui_switch ajax-get" type="checkbox" name="notice" checked url="{:U('Team/setting',array('apply'=>'pic'))}" />
            <else />
            <input class="weui_switch ajax-get" type="checkbox" name="notice" url="{:U('Team/setting',array('apply'=>'pic'))}" />
          </if>
        </div>
      </div>
      <div class="weui_cell weui_cell_switch">
        <div class="weui_cell_hd weui_cell_primary">QQ号</div>
        <div class="weui_cell_ft">
          <if condition="$applyop.qq eq 1">
            <input class="weui_switch ajax-get" type="checkbox" name="qq" checked url="{:U('Team/setting',array('apply'=>'qq'))}" />
            <else />
            <input class="weui_switch ajax-get" type="checkbox" name="qq" url="{:U('Team/setting',array('apply'=>'qq'))}" />
          </if>
        </div>
      </div>
      <div class="weui_cell weui_cell_switch">
        <div class="weui_cell_hd weui_cell_primary">特长/技能</div>
        <div class="weui_cell_ft">
          <if condition="$applyop.skill eq 1">
            <input class="weui_switch ajax-get" type="checkbox" name="skill" checked url="{:U('Team/setting',array('apply'=>'skill'))}" />
            <else />
            <input class="weui_switch ajax-get" type="checkbox" name="skill" url="{:U('Team/setting',array('apply'=>'skill'))}" />
          </if>
        </div>
      </div>
      <div class="weui_cell weui_cell_switch">
        <div class="weui_cell_hd weui_cell_primary">申请理由</div>
        <div class="weui_cell_ft">
          <if condition="$applyop.reason eq 1">
            <input class="weui_switch ajax-get" type="checkbox" name="reason" checked url="{:U('Team/setting',array('apply'=>'reason'))}" />
            <else />
            <input class="weui_switch ajax-get" type="checkbox" name="reason" url="{:U('Team/setting',array('apply'=>'reason'))}" />
          </if>
        </div>
      </div>
    </div>
  </div>
  <div class="weui_tabbar">
    <include file="./Public/Static/tpl/tabbar.html"/>
  </div>
</div>
<load href="__PUBLIC__/js/public.js"/>
<load href="__PUBLIC__/Static/layer/layer.js" />
<load href="__PUBLIC__/js/ajax.js" />
</body>
</html>