<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">
  <title>设置-{$web_title}</title>
  <meta name="description" content="{$web_description}"/>
  <meta name="keywords" content="{$web_keywords}"/>
  <link href="//res.wx.qq.com/open/libs/weui/0.4.2/weui.css" rel="stylesheet">
  <link href="__PUBLIC__/css/common.css" rel="stylesheet">
  <load href="__PUBLIC__/js/jquery-1.11.3.min.js"/>
</head>
<body>
<div class="weui_tab">
  <div class="weui_tab_bd">
    <include file="./Public/Static/tpl/banner.html"/>
    <div class="weui_cells_title">基本设置</div>
    <div class="weui_cells weui_cells_form">
      <div class="weui_cell weui_cell_switch">
        <div class="weui_cell_hd weui_cell_primary">邮件通知</div>
        <div class="weui_cell_ft">
          <if condition="$team.notice eq 1">
            <input class="weui_switch ajax-get" type="checkbox" name="notice" checked url="{:U('Team/setting',array('switch'=>'notice'))}" />
            <else />
            <input class="weui_switch ajax-get" type="checkbox" name="notice" url="{:U('Team/setting',array('switch'=>'notice'))}" />
          </if>
        </div>
      </div>
    </div>
  </div>
  <div class="weui_tabbar">
    <include file="./Public/Static/tpl/tabbar.html"/>
  </div>
</div>
<load href="__PUBLIC__/js/public.js"/>
<load href="__PUBLIC__/Static/layer/layer.js" />
<load href="__PUBLIC__/js/ajax.js" />
</body>
</html>